.logo{
    width:50px;
    margin-right: 60px;
}
body
{
    font-family: 'Baloo Bhai 2', cursive;
}
.H{
    color:white;
    transition:color 0.9s ease-in-out .3s;
}
.H:hover
{
    color:rgb(255, 44, 44);
    text-decoration:underline;
}
.Outercoverage
{
    background-image: url(../attachments/pp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2vh;
}
.En img
{
    width:100vw;
    height: 80vh;
}


button,i{
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}